* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f131b;
  background: linear-gradient(
    90deg,
    rgba(15, 19, 27, 1) 0%,
    rgba(15, 25, 35, 1) 50%,
    rgba(15, 33, 45, 1) 100%
  );
  min-height: 100vh;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container-menu {
  background-color: #0f131b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0%;
  padding: 30px;
  color: #ebebebc2;
  font-size: 20px;
}
.menu-items {
  display: flex;
  gap: 18px;
  list-style: none;
  font-size: 17px;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.dark-mode {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.img-dark-mode {
  width: 40px;
  height: 40px;
  display: block;
}

.menu {
}

.logo {
  margin: 0px 160px;
}

.container-main {
  padding: 20px;
  background: #0f131b;
  background: linear-gradient(
    90deg,
    rgba(15, 19, 27, 1) 0%,
    rgba(15, 25, 35, 1) 50%,
    rgba(15, 33, 45, 1) 100%
  );
  color: #ebebebc2;
}

.apellido {
  color: #4c9cf8;
}
.titulo-principal {
  font-size: 50px;
}

.btn-cont {
  border-radius: 10px;
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 100px;
  background-color: #0a85a9;
  color: #eaf2fc;
  border-color: #4c9cf8;
  height: 60%;
  margin: 15px 0px;
}

.btn-cv {
  border-radius: 10px;
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px;
  border-color: #4c9cf8;
  color: #0a85a9;
  background-color: #ffffff;
  height: 60%;
}
.botones-principal {
  display: flex;
}
.sobre-mi {
  display: flex;
  flex-direction: column;
  margin: 160px;
  color: #c5bfbfb7;
  gap: 20px;
  font-size: 20px;
}

.redes-sociales {
  margin: 20px 0px;
  display: flex;
  gap: 20px;
  padding: 10px;
  font-size: 30px;
}
.redes a {
  color: #f3eeeebd;
}

.primer-seccion {
  display: flex;
  border-radius: 20px 30px 5px 2px;
}

.perfil {
  border-radius: 50%;
  margin: 80px 200px;
  border: solid 3px;
  border-bottom-color: #0b72e8;
}

.text-presentacion {
  letter-spacing: 2px;
  margin: 20px 0px;
}
.-container-experiencia {
  display: flex;
  justify-content: space-between;
  background-color: #0f131b;
  color: #eaf2fc;
  padding: 70px 160px;
  margin: 0px 0px;
}

.tecnologias-proyectos {
  border: solid 3px rgba(25, 181, 209, 0.67);
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
}

.tecnologias {
  margin: 30px 0px;
}

.img-tecnologia {
  width: 50px;
  height: 50px;
  gap: 20px;
  margin: 20px 0px;
}
#js {
  border-radius: 5px;
}
.proyectos {
  margin: 20px 0px;
}

.proyectos p {
  margin: 15px 0px;
}

.container-tecnologias {
  display: flex;
  justify-content: space-around;
}

.tec {
  width: 150px;
  height: 150px;
}

.container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  background-color: #0f131b;
  color: #a6a8aa;
  padding: 30px;
  gap: 20px;
}

.img-logo-footer {
  width: 130px;
  height: 130px;
}
