* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #b1e0f2;
  background: linear-gradient(
    90deg,
    rgb(247, 253, 255) 0%,
    rgb(212, 241, 245) 50%,
    #f2f5fd 100%
  );
  font-family: "Courier New", Courier, monospace;
}

.container-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  margin: 0%;
  padding: 20px;
}
.menu-items {
  display: flex;
  gap: 15px;
  list-style: none;
  font-size: 15px;
}
.menu {
  margin-right: 150px;
}
.logo {
  margin: 0px 160px;
}
.container-main {
  padding: 20px;
}
.apellido {
  color: #4c9cf8;
}
.btn-cont {
  border-radius: 10px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
  background-color: #0b72e8;
  color: #eaf2fc;
  border-color: #4c9cf8;
}
.btn-cv {
  border-radius: 10px;
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
  border-color: #4c9cf8;
  color: #0d6fdf;
  background-color: #ffffff;
}
.botones-principal {
  display: flex;
}
.sobre-mi {
  display: flex;
  flex-direction: column;
  margin: 160px;
}
.redes-sociales {
  margin: 20px 0px;
  display: flex;
  gap: 20px;
  padding: 10px;
  font-size: 30px;
}
.redes a {
  color: #1c3a5f;
}
.primer-seccion {
  display: flex;
}
.perfil {
  border-radius: 50%;
  margin: 80px 200px;
}
